@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

.thepages {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pag {
  border: solid 2px #303841;
  background-color: #eeeeee;
  border-radius: 20%;
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  font-size: 25px;
  width: 50px;
}

.pag:focus {
  color: #ff5722;
  border: solid 2px #ff5722;
}

.pag:hover {
  color: #00adb5;
  border: solid 2px #00adb5;
}

@media only screen and (max-width: 768px) {
  .pag {
    font-size: 15px;
    width: 40px;
  }
}
