.description{
    width: 500px;
    height: 50px;
    border: 2px solid rgb(85, 85, 85);
    margin: 0px 0px 2px 0px;
    resize: none;
    border-radius: 3px;
}

.caja{
    border: 1px solid rgb(85, 85, 85);
    width: 490px;
    border-radius: 3px;
}
.createStar{
margin: 0px 0px 2px 2px;
}

.estrellas{
    border: 1px solid rgb(169, 164, 164);
    width:220px;
    padding: 0px 0px 0px 35px;
    margin: 5px 0px 0px 100px;
    background-color: rgba(225, 233, 226, 0.364);
}
.boton{
    background-color: rgba(1, 24, 119, 0.789);
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 35px;
    height: 33px;
    border-radius: 50%;
    flex-direction: row;
    align-items: flex-end;
    border: none;
}
.boton_comentario{
    font-size: 15px;
    font-weight: 600;
    color: rgb(109, 109, 109);
    background-color: rgb(247, 246, 246);
    padding: 10px 35px 10px 35px;
    margin: 5px 0px 0px 120px;
    border-radius: 5px;
    border: 1px solid rgb(3, 15, 67);

}
.imagen_producto{
    width: 100px;
}

/*****calificacion***/
/* comentaarioss */
.titulo_review{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin: 19px 0px 0px 42px;
    color: rgb(38, 40, 41);
}
.cuadro_barras{
    display: flex;
    flex-direction: row;
    margin: 2px 0px 0px 45px;
}
.numero_promedio{
    font-size: 40px;
    font-weight: 500;
    display: flex;
}
.promedio{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.review_comentario{
    border-bottom: 1px solid rgba(0, 128, 255, 0.392);
    margin: 10px;
    padding: 15px 2px 10px 55px;
    background-color: rgb(228, 225, 225);
    width: 800px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create_reviews{
    background-color: rgb(248, 245, 239);
    border-top: 3px solid rgb(0, 109, 167);
    margin: 15px 0px 0px 0px;
    padding: 5px 0px 10px 0px;
}

.total_review{
    width: 830px;
}

.valor_review{
    color: rgb(1, 1, 51);
    font-size: 15px;
    font-family: monospace;
    font-weight: 700;
}

.count_star{
    display: flex;
      /* justify-content: center; */
    flex-direction: row;
    align-items: flex-start;
}

.caja_puntuacion{
    background-color: rgba(238, 235, 235, 0.823);
    display: flex;
    padding: 20px;
    margin-left: 20px;
    flex-direction: column;
    width: 250px;
    border: 1px solid rgb(228, 226, 226);
}


progress {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    width: 180px;
    height: 10px;
    margin: 5px 12px 0px 12px;

  }
  
progress::-webkit-progress-bar {
    background-color: rgb(230, 225, 225);
    border: 1px solid rgb(151, 151, 151);
    /* width: 100%; */
}

progress::-webkit-progress-value {
    background-color: rgb(255, 183, 0) !important;
    -webkit-transition: all .7s;
    transition: all .7s;
}











/******************

.titulo_review{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 28px;
    margin: 19px 12px 0px 12px;
}

.cuadro_barras{
    margin: 15px 0px 0px 20px;
    color: rgb(1, 82, 163);
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.promedio{
    font-size: 45px;
    font-weight: 500;
    color: black;
    margin: 0px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tamaño_opinion{
    font-size: 12px;
}

    /* .stars_radio_input:checked ~ svg {
fill: yellow;
    } */

.comentario_vacio{
    margin: 18px;
    padding: 18px;
    border-bottom: 2px solid rgb(131, 131, 131);
}