.title {
  justify-content: center;
  color: #303841;
  position: relative;
  right: -435px;
  bottom: 0;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.faq {
  display: flex;
  justify-content: center;
  padding: -36px 0;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
}
.volver {
  margin-left: 20px;
  background-color: #00adb5;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Lexend Deca", sans-serif;
}

.faqfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}
