/* 
.coso{
    border-color:  #00adb5;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(226, 226, 228);
    border-style: groove;
    padding-left: 5px;
    padding-right: 10px;
}

.button{
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 10px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    width: 100px;
    height: 42px;
    border-width: 1px;
    color: rgba(240, 240, 240, 1);
    border-radius: 6px;
    /* box-shadow: inset 0px 1px 0px 0px rgba(34, 243, 255, 1); */
    text-shadow: inset 0px 1px 0px #303841;
    background: #303841;
    background: linear-gradient(#303841, rgba(0, 0, 0, 1));
    margin-top: 20px;
}
.button:hover {
    cursor: pointer;
  } */
