.fadeinbck6 {
  width: 80%;
  height: 10%;
  margin-top: 40px;
  margin-bottom: 100px;
  /* margin-right: 20%;
  margin-left: 20%; */
  margin-left: auto;
  margin-right: auto;
  background-color: eeeeee;
  box-shadow: 0px 0px 5px 1px #00adb5;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
}
.stylo {
  padding-top: 5px;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: #303841;
  margin-bottom: 20px;
}

.crear {
  border: none;
  outline: none;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 10px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 100px;
  height: 32px;
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px rgba(34, 243, 255, 1);
  text-shadow: inset 0px 1px 0px #303841;
  background: #303841;
  background: linear-gradient(#303841, rgba(0, 0, 0, 1));
}

.footer {
  margin-top: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.bu {
  margin: 15px;
  border: none;
  outline: none;
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 105px;
  height: 45px;
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;
  /* box-shadow: inset 0px 1px 0px 0px rgba(34, 243, 255, 1); */
  text-shadow: inset 0px 1px 0px #303841;
  background: #303841;
  background: linear-gradient(#303841, rgba(0, 0, 0, 1));
}

.bu:hover {
  cursor: pointer;
}

.tituloo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #00adb5;
  margin: 30px;
}

.o {
  margin: 30px;
}

#mail {
  margin-top: 5px;
  width: 250px;
}

.fadeinbck6 {
  -webkit-animation: fadeinbck6 0.7s ease-in both;
  animation: fadeinbck6 0.7s ease-in both;
}

@-webkit-keyframes fadeinbck6 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeinbck6 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 880px) {
  #mail {
    margin-top: 5px;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .fadeinbck6 {
    margin-right: auto;
    margin-left: auto;
  }
}
