.fadeinbck8 {
  width: 100%;
  height: 10%;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 10px;
  text-align: center;
  margin-top: 0;
}
.saludo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #00adb5;
  margin: 30px;
}
.preg{
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #1a1a1a;
  margin: 30px;
}
.detalle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 0px 5px 1px #00adb5;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  height: 350px;
  color: #303841;
}

.aaa {
  margin-top: 2%;
  margin-left: 20%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  color: #303841;
}

.bbb{

  margin-top: 5%;
  margin-left: 20%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 20px;
  align-self: center;}

.boton{
  display: flex;
  margin-left: 80%;
  border: none;
  outline: none;
  padding: 5px;
  border: none;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 40;
   width: 412px;
  -moz-text-decoration-color: rgb(253, 253, 253);
   /*height: 42px; */
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;
  /* box-shadow: inset 0px 1px 0px 0px rgba(34, 243, 255, 1); */
  text-shadow: inset 0px 1px 0px #303841;
  background: #303841;
  background: linear-gradient(#303841, rgba(0, 0, 0, 1));
  margin-top: 20px;
} 

.crear {
  display: flex;
   border: none;
  outline: none;
  margin-left: 5px;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 100px;
  height: 42px;
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;

  margin-top: 20px;
}

.crear:hover {
  cursor: pointer;
}

.fadeinbck8 {
  -webkit-animation: fadeinbck8 0.7s ease-in both;
  animation: fadeinbck8 0.7s ease-in both;
}

@-webkit-keyframes fadeinbck8 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeinbck8 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .aaa {
    font-size: 16px;
    margin-left: 5%;
  }
  .bbb {
    font-size: 16px;
    margin-left: 5%;
  }
}
