.fadeinbck8 {
  width: 100%;
  height: 10%;
  border-radius: 10px;
  text-align: center;
  margin-top: 0;
}
.saludo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #00adb5;
  margin: 30px;
}

.detalle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  height: max-content;
  box-shadow: 0px 0px 5px 1px #00adb5;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.aaa {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  margin-left: 20px;
}

.bbb {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  margin-left: 20px;
}

.crear {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btnedit {
  border: none;
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 105px;
  height: 45px;
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;
  text-shadow: inset 0px 1px 0px #303841;
  background: #303841;
  background: linear-gradient(#303841, rgba(0, 0, 0, 1));
}

.btnedit:hover {
  cursor: pointer;
}

.btneedit {
  border: none;
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 105px;
  height: 25px;
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;
  text-shadow: inset 0px 1px 0px #303841;
  background: #303841;
  background: linear-gradient(#303841, rgba(0, 0, 0, 1));
}

.btneedit:hover {
  cursor: pointer;
}

.fadeinbck8 {
  -webkit-animation: fadeinbck8 0.7s ease-in both;
  animation: fadeinbck8 0.7s ease-in both;
}

@-webkit-keyframes fadeinbck8 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeinbck8 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .aaa {
    font-size: 16px;
  }
  .bbb {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .detalle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 60px;
  }
  .aaa {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
  .bbb {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 800px) {
  .detalle {
    font-size: 16px;
  }
}
