@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

.details {
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.modificar {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

.container {
  color: #303841;
  
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btnprofile {
  border: none;
  outline: none;
  margin-left: 5%;
  margin-right: 5%;
  color: #050505;
  background-color: transparent;
}

.btnprofile:hover {
  color: #ff5722;
}

.btnprofileselected {
  color: #ff5722;
  border: none;
  outline: none;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
}

.detailsfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}
