.details {
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.modificar {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}
