.banner {
  color: #00adb5;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 27px;
  margin-top: 10px;
  border: solid 1px #ff5722;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}
