
.titleE {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  right: -18px;
  bottom: 19px;
  color: #00adb5;
  font-size: 50px;
}


.faqfooter {
    position: relative;
    bottom: 0;
    width: 100%;
  }