.title {
  font-family: "Lexend Deca", sans-serif;
  color: #303841;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #00adb5;
}
.stylePa {
  margin-left: 20px;
  font-family: "Lexend Deca", sans-serif;
  text-align: justify;
  color: #303841;
  position: relative;
  right: 0px;
  bottom: 49px;
  font-weight: 300;
  font-size: 14px;
  margin: 80px;
}

.termfooter {
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: #303841;
  font-weight: 600;
}

.fadeinbck12 {
  -webkit-animation: fadeinbck12 0.7s ease-in both;
  animation: fadeinbck12 0.7s ease-in both;
}

@-webkit-keyframes fadeinbck12 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeinbck12 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 950px) {
  .stylePa {
    margin: 20px;
    margin-top: 80px;
  }
}
