.nada {
  color: #303841;
  margin-top: 15px;
}

.iconoadv {
  color: #303841;
  text-align: center;
}
.bothh {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
