@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 250px;
  height: 250px;
  background-color: white;
  border: solid 1px #00adb5;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.488);
}

.productname {
  grid-area: 1 / 1 / 2 / 5;
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 17px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3px 0px;
  width: 100%;
  height: 100%;
}

.productimg {
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}

.boximg {
  grid-area: 2 / 1 / 4 / 5;
}

.productprice {
  grid-area: 4 / 1 / 5 / 3;
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 27px;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

.productbtns {
  border: none;
  outline: none;
  background-color: transparent;
  color: #00adb5;
  width: 100%;
  height: 50%;
}

.productbtns:hover {
  color: #ff5722;
}

.productbtns:focus {
  color: #ff5722;
}

.producticons {
  margin-left: 40px;
  margin-bottom: 10px;
  grid-area: 4 / 3 / 5 / 5;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
