.allcards {
  margin-left: 9px;
  /*margin-right: 3%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-rows: 17rem;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center;
}

.flef {
  width: 16.7%;
  border-radius: 0%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #00adb5;
}

.dropdownmenuf1 {
  background-color: #303841;
  color: #eeeeee;
  width: 100%;
  height: 60px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 17px;
  outline: none;
  border: none;
  margin-top: 10px;
}

.dropdownmenuf1 option {
  background-color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 17px;
}

.dropdownmenuf1:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .flef {
    position: absolute;
    top: 0px;
    width: 100%;
  }
}

.eachcard {
  grid-column: span 2;
  justify-self: center;
}
