.fadeinbck7 {
  width: 70%;
  height: 80%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: eeeeee;
  box-shadow: 0px 0px 5px 1px #00adb5;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  font-family: "Lexend Deca", sans-serif;
}

.secc {
  padding-top: 10px;
}

.label {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.danger {
  margin: 0px;
  padding: 0px;
  color: #ff5722;
  font-weight: 400;
}

.butt {
  margin: 15px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 100px;
  height: 45px;
  border-width: 1px;
  color: rgba(240, 240, 240, 1);
  border-radius: 6px;
  text-shadow: inset 0px 1px 0px #303841;
  background: #303841;
  background: linear-gradient(#303841, rgba(0, 0, 0, 1));
}

.butt:hover {
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titulo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #00adb5;
  margin: 30px;
}

.fadeinbck7 {
  -webkit-animation: fadeinbck7 0.7s ease-in both;
  animation: fadeinbck7 0.7s ease-in both;
}

@-webkit-keyframes fadeinbck7 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeinbck7 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 868px) {
  .fadeinbck7 {
    width: 90%;
  }
  .label {
    width: 80%;
  }
  .secc input {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .titulo {
    font-size: 18px;
  }
}
