@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  background-color: #00adb5;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #eeeeee;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.btnhead {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: #eeeeee;

  padding: 6px;
}

.marca {
  font-size: 25px;
  font-weight: 600;
}

.ahead {
  text-decoration: none;
  color: #eeeeee;
}

.btnhead:hover {
  color: #303841;
}

.ahead:hover {
  color: #303841;
}
