.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1px;
  margin: 0px 0px 0px 0px;
  padding: 1px 0px 45px 0px;
}

.pagination_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303841;
  height: 1px;
  width: 1px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #303841;
  border-radius: 50px;
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  margin: 2px;
  background-color: #303841;
}

.pagination_container div.active {
  background-color: #ff5722;
  border: 1px solid #ff5722;
}
