.thebar {
  background-color: transparent;
  position: absolute;
  top: 90px;
  bottom: 0%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lateral {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #00adb5;
}

.central {
  grid-area: 1 / 2 / 2 / 7;
}

@media only screen and (max-width: 768px) {
  .thebar {
    top: 110px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 1426px;
  }

  .lateral {
    grid-area: 1 / 1 / 2 / 2;
  }

  .central {
    grid-area: 2 / 1 / 6 / 2;
  }
}
