.thebar {
  background-color: transparent;
  position: absolute;
  height: 100px;
  top: 115px;
  bottom: 0%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.lateral {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #00adb5;
  box-shadow: 0px 0px 5px 1px #00adb5;
  height: 100%;
  margin-top: 30px;
}

.central {
  grid-area: 1 / 2 / 2 / 7;
}
@media only screen and (max-width: 1100px) {
  .thebar {
    top: 115px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 1426px;
  }

  .lateral {
    grid-area: 1 / 1 / 2 / 2;
    display: none;
  }

  .central {
    grid-area: 2 / 1 / 5 / 2;
  }

  .footer {
    grid-area: 5 / 1 / 6 / 2;
  }
}
