@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");


.div1 {
    /* width: 80%;
    height: 1%; */
   
    border: solid 1px #00adb5;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    /* border: solid 1px #00adb5;   
    border-radius: 5%;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 0%;*/
   

}
.name{
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    font-style:normal;
    font-size: 15pt;
    
}
.div2{
    font-family:sans-serif;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.text{
    border: #303841;
    margin-top: 0pt;
    font-size:15px;
    font-family: "Lexend Deca", sans-serif;
    line-height: 50pt;


}

.contador{
    display: flex;
    flex-direction: column;
}
.boo{

    border: none;
    outline: none;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    width: 100px;
    height: 32px;
    border-width: 1px;
    color: rgba(240, 240, 240, 1);
    border-radius: 6px;
    /* box-shadow: inset 0px 1px 0px 0px rgba(34, 243, 255, 1); */
    text-shadow: inset 0px 1px 0px #303841;
    background: #303841;
}
.boo:hover {
    background: linear-gradient(#303841, rgba(0, 0, 0, 1));
    cursor: pointer;
  }