.title1 {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  right: -18px;
  bottom: 19px;
  color: #00adb5;
  font-size: 40px;
}
.styleP {
  margin-left: 20px;
  font-family: "Lexend Deca", sans-serif;
  text-align: justify;
  color: #303841;
  margin-right: 20px;
  position: relative;
  right: 0px;
  bottom: 80px;
  font-size: 18px;
}
.title2 {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  right: -20px;
  bottom: 136px;
  justify-content: center;
  color: #00adb5;
  font-size: 30px;
}
.styleP1 {
  margin-left: 20px;
  font-family: "Lexend Deca", sans-serif;
  text-align: justify;
  color: #303841;
  margin-right: 20px;
  position: relative;
  right: 0px;
  bottom: 182px;
  font-size: 18px;
}
.title3 {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  right: -18px;
  bottom: 232px;
  justify-content: center;
  color: #00adb5;
  font-size: 30px;
}
.styleP2 {
  margin-left: 20px;
  font-family: "Lexend Deca", sans-serif;
  text-align: justify;
  color: #303841;
  margin-right: 20px;
  position: relative;
  right: 0px;
  bottom: 280px;
  font-size: 18px;
}

.nosfooter {
  position: relative;
  bottom: 0;
  width: 100%;
}

.equipo {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  right: -19px;
  bottom: 76px;
  color: #00adb5;
  font-size: 30px;
}

.fadeinbck11 {
  -webkit-animation: fadeinbck11 0.7s ease-in both;
  animation: fadeinbck11 0.7s ease-in both;
  margin-left: 5%;
  margin-right: 5%;
}

@-webkit-keyframes fadeinbck11 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeinbck11 {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
