.title1 {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    right: -18px;
    bottom: 19px;
    color: #00ADB5;
    font-size: 50px;
}

.title2 {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    right:  -20px;
    bottom: 82px;
    justify-content: center;
    color: #00ADB5;
    font-size: 40px;
}
.title3 {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    right: -18px;
    bottom: 132px;
    justify-content: center;
    color:#00ADB5;
    font-size: 40px;
}


.styleP {
    margin-left: 20px;
    font-family: "Lexend Deca", sans-serif;
    text-align:justify;
    color:#303841;
    margin-right: 20px;
    position: relative;
    right: 0px;
    bottom: 49px;
    font-size: 17px;
}
.styleP1 {
    margin-left: 20px;
    font-family: "Lexend Deca", sans-serif;
    text-align:justify;
    color:#303841;
    margin-right: 20px;
    position: relative;
    right: 0px;
    bottom: 112px;
    font-size: 17px;
}
.styleP2 {
    margin-left: 20px;
    font-family: "Lexend Deca", sans-serif;
    text-align:justify;
    color:#303841;
    margin-right: 20px;
    position: relative;
    right: 0px;
    bottom: 157px;
    font-size: 17px;
}

.nosfooter {
  position: relative;
  bottom: 0;
  width: 100%;

.contacto {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    right: -19px;
    bottom: 163px;
    color: #00ADB5;
    font-size: 30px;
}
.equipo{
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    right: -19px;
    bottom: 163px;
    color: #00ADB5;
    font-size: 30px;
    
}
.faqfooter {
    position: relative;
    bottom: 0;
    width: 100%;
  }