.container {
  /* position: absolute;
  bottom: 0; */
  /* position: fixed;
  bottom: 0; */
  padding-top: 12px;
  height: 9%;
  background-color: #303841;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #eeeeee;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.container div a {
  text-decoration: none;
  color: #eeeeee;
}

.container div a:hover {
  color: #ff5722;
}

.copy {
  /* position: fixed;
  bottom: 0; */
  padding-top: 2px;
  background-color: #303841;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  height: 30px;
  width: 100%;
}

/* .allfooter {
  width: 100%;
  position: absolute;
  bottom: -750px;
} */

@media only screen and (max-width: 768px) {
  .container {
    font-size: 10px;
  }
}
