.container {
  /* position: absolute;
  bottom: 0; */
  height: 12%;
  background-color: #303841;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  color: #eeeeee;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 15px;
  /* margin-bottom: 15px; */
}

.container div a {
  text-decoration: none;
  color: #eeeeee;
}

.container div a:hover {
  color: #ff5722;
}

.copy {
  background-color: #303841;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  height: 40px;
  width: 100%;
}

.allfooter {
  width: 100%;
  position: absolute;
  bottom: -750px;
  padding: 10px;
}
