.flef {
  width: 100%;
  border-radius: 0%;
  margin-top: 10px;
}

.dropdownmenuf {
  background-color: #303841;
  color: #eeeeee;
  width: 100%;
  height: 60px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 10px;
  outline: none;
  border: none;
}

.dropdownmenuf option {
  background-color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 17px;
}

.dropdownmenuf:hover {
  cursor: pointer;
}
