@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  color: #303841;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.favfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.allcards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 17rem;
  grid-column-gap: 170px;
  grid-row-gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.titulofav {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #00adb5;
  margin: 30px;
}

.nada {
  /* padding: 20px;
  width: 350px;
  text-align: center;
  position: absolute;
  margin-top: 5%;
  margin-left: 16%; */
  color: #303841;
  margin-top: 15px;
}

.iconoadv {
  /* width: 560px;
  text-align: center;
  position: absolute;
  margin-top: 9%;
  margin-left: 16%; */
  color: #303841;
}
.bothh {
  position: absolute;
  left: 44.5%;
  right: 40%;
  top: 20%;
  width: max-content;
  text-align: center;
}
